<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <div id="events_calendar">
        <%= render "shared/week_calendar", availabilities: @availabilities, techs: @techs %>
      </div>
      <div class="card-container" style="height: 50vh">
        <h4><strong>Bookings à valider</strong></h4>
        <% @bookings.each do |booking| %>
          <%= render "shared/small_booking_card", booking: booking %>
        <% end %>
      </div>
    </div>
  </div>
</div>
