<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <h3 class="text-center">Particuliers</h3>

      <h4>Mettre des infos sur la marche à suivre pour prendre un rendez-vous</h4>
      <p>- Le papier pour avoir 10% de TVA.</p>
      <p>- Un calculateur pour se faire une idée du temps nécéssaire à la détection (x m2 = y demi-journées)</p>
      <p>- La date</p>
      <p>- Les infos nécéssaires du propriétaire</p>
      <p>- Un Stripe pour le paiement</p>
      <p>- Validation & numéro de téléphone accessibles vers un manager.</p>
    </div>
  </div>
</div>
