// Define variables for your color scheme

// For example:
$red: #fb3640;
$blue: #6cd4ff;
$yellow: #fdc400;
$orange: #fdaf00;
$green: #0cce6b;
$gray: #000000;
$light-gray: #F4F4F4;
$purple: #8b80f9;
$pink: #e56399;

$dark-gray: #4A4A4A;
$medium-gray: #D0D0D0;
$light-gray: #F4F4F4;
$blue-gray:#495073;
$dark-blue-gray: #3D4361;

$anis:#B2D430;
$diago:#68C3ED;
