<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>
  <div class="dashboard-content">
    <div class="padding-box">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <%= render "/shared/profile" %>
        </div>
      </div>
    </div>
  </div>
</div>
