@media screen and (min-width: 992px) {
  .dashboard-wrap {
    background-color: $light-gray;
    min-width: 100%;
    height: calc(100vh - 110px);
  }
  .dashboard-content{
    position: relative;
    left: 200px;
    width: calc(100vw - 220px);

  }
  .with_right_sidebar {
    width: calc(100% - 450px);
  }
}

@media screen and (max-width: 576px) {
  .padding-box {
    padding: 0px;
    padding-top: 10px;
    margin-top: 10px;
  }

  .card {
    margin: 5px 0px;
  }

  .card-container {
    padding: 0px;
    & h4 {
      padding-top: 10px;
    }
  }
}
