@media screen and (min-width: 480px) {
  .dashboard-wrap {
    background-color: $light-gray;
    min-width: 100%;
    height: calc(100vh - 110px);
  }
  .dashboard-content{
    position: relative;
    left: 200px;
    width: calc(100vw - 220px);
    height: calc(100vh - 110px);
  }
  .with_right_sidebar {
    width: calc(100% - 450px);
  }
}
