<div class='container'>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#vueGenerale">Vue générale</a></li>
    <li><a data-toggle='tab' href="#techniciens">Technicien 1</a></li>
    <li><a data-toggle='tab' href="#">Technicien 2</a></li>
    <li><a data-toggle='tab' href="#">Technicien 3</a></li>
  </ul>
  <div class='tab-content'>
    <div id="vueGenerale" class="tab-pane fade in active planning">
      <div class='row'>
        <div class='col-md-2'>TECH</div>
        <div class='col-md-2'>Lundi</div>
        <div class='col-md-2'>Mardi</div>
        <div class='col-md-2'>Mercredi</div>
        <div class='col-md-2'>Jeudi</div>
        <div class='col-md-2'>Vendredi</div>
      </div>
      <div class='row rowAvailability'>
        <div class='col-md-2'>PATHE</div>
        <div class='col-md-2'>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
          <div class='panel panel-success'> <div class='panel-body'>TEST</div> </div>
        </div>
        <div class='col-md-2'>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
        </div>
        <div class='col-md-2'>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
        </div>
        <div class='col-md-2'>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
        </div>
        <div class='col-md-2'>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
          <div class='panel panel-default'> <div class='panel-body'>TEST</div> </div>
        </div>

      </div>
    </div>
    <div id="techniciens" class="tab-pane fade in active">
      <h3>Technicien</h3>
    </div>
  </div>
</div>
