<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <%= render "shared/calendar", availabilities: @availabilities, user: @user, tech: @user %>
    </div>
  </div>
</div>
