<% dates = availabilities.map do |a| a.date end.uniq.sort %>
<div class="card-date text-center">
  <p><%= dates.first.strftime("%d/%m/%y") %></p>
  <p style="font-size: 11px"><%= dates.count > 1 ? "+ #{dates.count} autres dates" : "" %></p>
</div>
