<div class="sidebar">
  <% if current_user.technician? %>
    <%= render "shared/sidebar-button", text: "Vue d'ensemble", icon: "eye", link: particulier_user_path(@user) %>
    <%= render "shared/sidebar-button", text: "Diagnostiques", icon: "list", link: particulier_user_path(@user)%>
  <% elsif current_user.particulier? %>
    <%= render "shared/sidebar-button", text: "Ma commande", icon: "eye", link:particulier_user_path(@user) %>
  <% end %>
  <%= render "shared/sidebar-button", text: "Mon profil", icon: "user", link: particulier_user_path(@user)%>
</div>
