<%= link_to link do %>
  <div class="sidebar-button <%= current_page?(link) ? "sidebar-active" : "" %>">
    <div>
      <p>
        <% unless icon == "none" %>
          <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
        <% end %>
        <%= text %>
      </p>
    </div>
  </div>
<% end %>
