<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <div class="row">
        <div class= "hidden-xs col-md-12 col-lg-5 col-xl-4 card-container" id="map" style="height: calc(100vh - 110px);"></div>
        <div class="col-xs-12 col-lg-7 col-xl-8">
          <div class="card-container">
            <h4><strong>Vos prochaines détections</strong></h4>
            <% (0..4).to_a.each do |n| %>
              <div class="row">
                <% day_availabilities = @user.availabilities.where(date: n.business_day.from_now).where.not(status: "free") %>
                <% day_bookings = day_availabilities.map do |a| a.booking end.uniq %>
                <% if day_bookings.count == 1 %>
                  <div class="col-xs-12">
                    <%= render "shared/single_booking_card", booking: day_bookings.first, date: n.business_day.from_now, availability: nil %>
                    </div>
                <% elsif day_bookings.count == 2 %>
                  <% day_bookings.each do |day_booking| %>
                    <div class="col-xs-12 col-md-6">
                      <%= render "shared/single_booking_card", booking: day_booking, date: n.business_day.from_now, availability: Availability.where(booking: day_booking, date: n.business_day.from_now, user: @user).first %>
                    </div>
                  <% end %>
                <% else %>
                  <p>Encore rien de prévu</p>
                <% end %>
              </div>

            <% end %>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= render "shared/map", markers: @markers %>


