<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <%= render "shared/reports_table", reports: @reports %>
    </div>


  </div>
</div>
