<div class="main-container">
  <%= render "shared/report_manager_commands", report: @report, booking: @booking %>
  <%= render "shared/report", booking: @booking, client: @client, tech: @tech %>
</div>
