<div class="banner" id=page3 style="background-image: url(http://res.cloudinary.com/doodlid/image/upload/v1507544547/Save%20images/diago/diago_bg03.jpg);" >
    <div class="page-content container text-center">
      <div class="row">
        <div class="col-xs-12">
          <h3>Lorem ipsom dolor information</h3>
        </div>
        <div class="col-xs-4">
          <div class="card-compact">
            <i class="fa fa-tint" aria-hidden="true"></i>
            <p>Sit amet consectetuer adipiscing elit sed diam nonummy. Zzril delenit augue duis dolore te feugait nulla facilisi nam liber. Esse molestie.</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="card-compact">
            <i class="fa fa-binoculars" aria-hidden="true"></i>
            <p>Sit amet consectetuer adipiscing elit sed diam nonummy. Zzril delenit augue duis dolore te feugait nulla facilisi nam liber. Esse molestie.</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="card-compact">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>Sit amet consectetuer adipiscing elit sed diam nonummy. Zzril delenit augue duis dolore te feugait nulla facilisi nam liber. Esse molestie.</p>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/next_page', icon: "arrow-circle-up", target_page: target_page %>
  </div>
</div>
