<div class="banner" id= <%= page_id %> style="background-image: url(http://res.cloudinary.com/doodlid/image/upload/v1507544547/Save%20images/diago/diago_bg02.jpg);" >
  <div class="page-text-information">
    <h3>Informations</h3>
  </div>
  <div claas="container">
    <div class="page-content">
      <div class="row">
        <div class="col-xs-12">
          <h3>"Sécurisez et accélérez vos travaux"</h3>
        </div>
        <div class="col-xs-6">
          <p>La détection des réseaux enterrés permet de savoir en phase pré-chantier ce qui se trouve sur votre parcelle. Une fois marqués au sol, vous pouvez évoluer plus rapidement dans vos travaux et en toute sécurité.</p>
        </div>
        <div class="col-xs-6">
          <p>Obligatoire depuis 2012, la détection des réseaux enterrés permet d'éviter les accidents et de travailler en sécurité. Nos techniciens sont experts dans les détections de réseaux enterrés avec des centaines d'opérations réalisées chaque année.</p>
        </div>
      </div>
    </div>
  </div>
    <%= render 'shared/next_page', icon: "arrow-circle-down", target_page: target_page %>
</div>
