<div id="detection1">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1 class="invert">Détection<br> et Géoréférencement </h1>
    </div>
  </div>
  <div class="white">
    <%= render 'shared/next_page', icon: "arrow-circle-down", target_page: "#detection2" %>
  </div>
</div>

<div id="detection2" class="container">
  <div class="horizontal-line row">
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061515/igor-ovsyannykov-371073_yb6125.jpg" alt="">
    </div>
    <div class="col-xs-6">
      <h3>Détection</h3>
      <p>JFM Conseils est spécialisé dans la détection des réseaux enterrés. Depuis 2012, nous réalisons quotidiennement des détections par Géoradar et DME et effectuons le géoréférencement et report sur plan des résultats.</p>
    </div>
  </div>
  <div class="horizontal-line row">
    <div class="col-xs-6">
      <h3>Report sur plans</h3>
      <p>Avec un processus optimisé par des années d’expérience, nous effectuons le géoréférencement et report sur plan de l’ensemble des informations terrain. Nous utilisons les logiciels AutoCad, Covadis, ArcGIS et QGIS.</p>
    </div>
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061512/samuel-zeller-237227_jh1uks.jpg" alt="">
    </div>
  </div>
  <div class="horizontal-line row">
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061501/david-noe-320710_qebvsh.jpg" alt="">
    </div>
    <div class="col-xs-6">
      <h3>Géoreferencement</h3>
      <p>Grâce à du matériel topographique de pointe, nous géoréférençons l’ensemble des réseaux enterrés détectés sur le terrain pour pouvoir ensuite les reporter sur vos plans.</p>
    </div>
  </div>
</div>
<div class="bandeau">
  <%= render 'shared/next_page', icon: "arrow-circle-down", target_page: "#detection3" %>
</div>

<div id="detection3" class="container">
  <div class="horizontal-line row">
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061515/igor-ovsyannykov-371073_yb6125.jpg" alt="">
    </div>
    <div class="col-xs-6">
      <h3>Investigations complémentaires</h3>
      <p>Nous réalisons l’ensemble des DT (Déclaration de projet de Travaux) puis procédons à la géodétection des réseaux enterrés afin de vérifier leurs positions et les mettre en Classe A (sous 50cm). Nous vous fournissons un rapport conforme à la <strong>norme NF 570-003.</strong></p>
    </div>
  </div>
  <div class="horizontal-line row">
    <div class="col-xs-6">
      <h3>Marquage-Piquetage</h3>
      <p>Le marquage-piquetage consiste, à marquer au sol à la peinture (temporaire ou long-terme) les réseaux détectés et leurs profondeurs. Pour chaque opération nous rédigeons le procès-verbal réglementaire.</p>
    </div>
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061512/samuel-zeller-237227_jh1uks.jpg" alt="">
    </div>
  </div>
  <div class="horizontal-line row">
    <div class="col-xs-4">
      <img class="medium-image" src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_350/v1512061501/david-noe-320710_qebvsh.jpg" alt="">
    </div>
    <div class="col-xs-6">
      <h3>Plan de récolement</h3>
      <p>Nous reconstituons les plans de recollement des réseaux en vue de les intégrer dans votre SIG.</p>
    </div>
  </div>
</div>
<div class="bandeau">
  <%= render 'shared/next_page', icon: "arrow-circle-up", target_page: "#detection1" %>
</div>
