<div class="home">
  <div class="banner" id="page1" >
    <div class="banner-call">
      <h1>Détection de réseaux enterrés ? <br> Réservez une intervention </h1>
      <p class="invert text-on-image">Nos équipes interviennent dans toute l'Ile-de-France.</p>
    </div>
    <%= render 'shared/next_page', icon: "arrow-circle-down", target_page: "#page2" %>
  </div>

  <%= render 'page_text', page_id: "page2", target_page: "#page3" %>
  <%= render 'page_cards', page_id: "page3", target_page: "#page-top" %>

</div>
