<h3>Détections du jour</h3>
<% bookings.each do |booking| %>
  <% tech = booking.tech_of_the_day %>
  <h4><%= tech.first_name + " " + tech.last_name %></h4>
  <p><%= booking.address %></p>
  <% if booking.report.done? %>
    <p>Rapport terminé</p>
  <% else %>
    <p>Rapport pas envoyé</p>
  <% end %>
<% end %>
