<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>
  <div class="dashboard-content">
    <div class="padding-box">
      <%= render "/shared/profile" %>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card-container">
          <%= render "/manager/companies/new"%>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card-container">
          <%= render "/manager/branches/new"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
