<div class="dashboard-wrap">
  <%= render "shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <%= render "shared/users_table", users: @users %>
    </div>
  </div>
</div>
