<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <%= render "shared/bookings_table", bookings: @bookings %>
    </div>
  </div>
</div>
