<div class="dashboard-wrap">
  <%= render "shared/sidebar"%>
  <div class="dashboard-content with_right_sidebar">
    <div class="padding-box">
      <%= render "shared/mp_report", booking: @booking, client: @client, tech: @tech %>
    </div>
  </div>
</div>
