<h4>Créer nouvelle Entreprise</h4>
<%= simple_form_for [@user.role, Company.new]  do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :photo, as: :attachinary, required: true %>
  <%= f.submit %>
<% end %>
