/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0px;
  opacity: 0.8;
  & button {
    position: absolute;
    right: 10px;
    top: 2px;
  }
}
.alert-info {
  background: $anis;
}
.alert-warning {
  background: $red;
}
