.btn, input.btn {
  display: block;
  padding: 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  border-radius: 4px;
  text-decoration: none;
  transition: color 150ms, background-color 150ms;
  border: 1px solid #fff;
  background-color: $yellow;
  color: $dark-gray;
  height: 50px;
  &:hover {
    background-color: $orange;
    color: $dark-gray;
  }
}

.btn-cta {

}

.with-border {
  border: 1px solid $medium-gray;
}
input {
  &:focus {
    border: none;
  }
}
.btn-anis {
  background-color: $anis;
}
.btn-diago {
  background-color: $diago;
}
.btn-red {
  background-color: red;
}
.btn-blue-gray {
  background-color: $blue-gray;
}
.btn-yellow {
  background-color: $yellow;
}
.btn-inverse {
  color: $dark-gray;
  background-color: transparent;
}
