.card-container {
  background-color: white;
  border-top: 2px solid $blue-gray;
  border-radius: 2px;
  padding: 8px 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
  margin: 0px 0px 15px 0px;
  height: 100%;
  & h4 {
    padding-bottom: 10px;
  }
  & #map {
    padding: 5px;
  }
}

.card {
  padding: 10px 0px;
  max-height: 400px;
  margin: 5px 10px;
  border-left: 2px solid $blue-gray;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
  justify-content: space-between;
  & .card:hover {
    border-left: 5px solid $anis;
  }
}

.card-logo {
  padding: 5px;
}

.card-right {
  height: 100%
}

.card-icon {
  color: $diago;
  font-size: 30px;
  margin: 5px;
  padding: 2px;
  & :hover {
    color: $diago;
    font-size: 32px
  }
}

.card-date {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  color: $dark-gray;
  padding: 5px;
  width: 120px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
}

.small-card {
  width: calc( 30vw - 66px);
  height: 20vh;
}
