$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
$border-light: 1px solid $medium-gray;
$border-medium: 2px solid $dark-gray;
$border-radius: 13px;
$border-color: $medium-gray;
$padding-side: 0 20px 0 20px;
$white-space: 20px;

.fullscreen-wrapper-under-navbar {
  background-color: #F6F6F8;
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.overflox-horizontal-hidden {
  overflow: hidden;
}

.margin-bottom-medium {
  margin-bottom: 40px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}
.center {
  margin: auto;
}
.border-light {
  border: $border-light;
  border-radius: $border-radius;
}
.underline {
  border-bottom: $border-medium;
  padding-bottom: 5px;
}
.underline-light {
  border-bottom: $border-light;
  padding-bottom: 20px;
}

.padding-box {
  padding: 20px;
}

.no-padding {
  padding: 0px !important;
}

.flexbox {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.align-center{
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex-vertical {
  display: flex;
  align-items: center;
  flex-direction: vertical;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-stretch {
  align-items: stretch;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.fixed-under-top {
  right: calc(100vw - 50% - 150px);
  position: fixed;
  top: 7px;
  width: 300px;
  z-index: 1001;
}
.min-width {
  min-width: 200px;
}
//CONFIG
a:hover {
  text-decoration: none !important;
}
input, select {
  height: 45px !important;
}
.checkbox input[type="checkbox"] {
  top: -20px;
}
#info {
  background-color: $diago;
  color: white;
  padding: 10px;
}
.full-screen-wrapper-with-navbar {
  background-color: #F6F6F8;
  width: 100%;
  height: calc(100vh - 70px);
  // object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.no-margin * h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
}

.option_values-booked {
  color: $anis;
  font-weight: bolder;
}

.pending-color, .invert-pending-color {
  color: $orange;
}
.free-color, .invert-booked-color {
  color: $red;
}
.booked-color, .invert-free-color {
  color: $anis;
}

@media screen and (max-width: 576px) {
  .row {
    margin: 0px;
  }
}
