.planning {

  .rowAvailability {
    .col-md-2 {
      padding-left: 1px !important;
      padding-right: 1px !important;
    }
    .panel {
       margin-bottom: 2px;
       text-align: center;
    }
  }

}
