.simple-calendar {
  padding-top: 20px;
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: none;
    border: 1px solid $medium-gray;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    a {
      font-size: 16px;
      color: $dark-gray;
    }
  }
  th {
    padding: 0px;
    height: 50px !important;
    width: 10vw !important;
    border-collapse: collapse;
    border: 1px solid $medium-gray;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
  }
  td {
    width: 100px;
    height: 100%;
    padding: 0px;
    vertical-align: top;
    font-size: 12px;
    border: 1px solid $medium-gray;
  }
  .day {
    position: relative;
    padding: 0px;
  }
  .date-day {
    z-index: 100;
    background-color: white;
    padding: 2px 5px;
    opacity: 0.7;
    border-radius: 50%;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 2%;
    left: 3%;
  }
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  .today {
    background: $diago;
    & .date-day {
      color: white;
    }
  }
  .calendar-heading {
    font-weight: bold;
    font-size: $dashboard-title;
    margin: 10px 0px;
    text-align: center;

  }
  span.calendar-title {
    margin: 20px;
  }

  .past {}

  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
  .cell-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%
  }
  .btn-container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .calendar-submit {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: none;
    background-color: transparent;
    & p {
      color: $dark-gray;
    }
  }
  .btn-calendar {
    color: $dark-gray;
    position: relative;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      font-size: 12px;
      border: 0px;
    }
    i {
      color: $dark-gray;
      margin-right: 5px;
      font-size: 16px;
    }
  }
  .btn-calendar-free, .mng-calendar-free {
    margin: 1px;
    border-left: 8px solid $anis;
    &:hover {
      background-color: $anis;
    }
  }

.btn-calendar-pending, .mng-calendar-pending {
  margin: 1px;
    border-left: 8px solid $yellow;
    p, a {
      margin: 0px;
    }
    &:hover {
      color: white;
      background-color: $yellow;
    }
  }

  .btn-calendar-selected, .mng-calendar-selected  {
    border: 8px solid $diago;
    background: $diago;
    font-color: white;
    font-weight: bold;
  }

  .btn-calendar-doneinpast {
    margin: 1px;
    border-left: 8px solid $medium-gray;
  }
  .btn-calendar-booked, .btn-calendar-leave, .mng-calendar-booked, .mng-calendar-leave {
    margin: 1px;
    border-left: 8px solid $red;
    p, a {
      margin: 0px;
    }
    &:hover {
      color: white;
      background-color: $red;
    }
  }

  .week-box {
    color: $dark-gray;
    position: relative;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.calendar-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & p {
    font-size: 11px;
  }
}

.small-icon {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  width: 30px !important;
  height: 30px;
}

.tech-card {
    border: 1px solid $diago;
    border-right: 8px solid $diago;
    color: $dark-gray;
    position: relative;
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    & p{
      color: $diago;
    }
}

.booking-info {
  padding-left: 15px;
  align-items: flex-start;
  text-align: left;
}
