.tableAvailabilities {
  th, td {
    text-align: right;
    background-color: white;
    border: 1px solid #ccc;
  }

  th {
    color:     #9f9f9f !important;
    font-size: 1.4rem;
  }

  td {
    text-align: right;
    background-color: white;
    border: 1px solid #ccc;

    &.success {
      background-color: green;
    }

    &.warning {
      background-color: orange;
    }

    &.danger {
      background-color: red;
    }

    &.tech {
      vertical-align: middle;
    }

    input[type='checkbox'] {
      height: auto !important;
    }

  }
}
