.nav-tabs {
  background: white;
  & a {
    color: $blue-gray;
    }
  & li {
    margin-bottom: -2px !important;
  }
  & li.active, a:hover, li.active:hover {
    a {
      background-color: $blue-gray;
      color: white;
    }
  }
}

.sorting::after, .sorting_asc::after {
  font-size: 14px;
  &:active {
    color: $anis;
  }
}
