// Graphical variables
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";

// Theme variables
@import "config/fonts";


@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "layouts/index";



body {
  padding-top: 70px;
}

html {
  background-color: $light-gray;
  overflow-x: hidden;
}
