// CSS Pour le PDF

body {
  padding: 0px !important;
  margin: 0px !important;
  .margin-bottom-small {
    margin-bottom: 0px !important;
  }
  label {
    font-style: italic;
    font-weight: lighter;
  }
  h4 {
    font-weight: lighter;
    text-decoration: underline;
  }
}

.card-container {
  border-top: 0px solid white;
}
